# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# config file
ios/Podfile.lock

pubspec.lock

assets/secrets.json
sentry.properties

android/gradle.properties

assets/firebase-secrets.json

strnadi-release-key.jks

android/app/client_secret_287278255232-2rfu5vd3j233uhn4ktacpfs7rep0s44d.apps.googleusercontent.com.json

android/app/client_secret_287278255232-g74egvqtv3tiossgvs0dru49bht0h9un.apps.googleusercontent.com.json

android/client_secret_287278255232-2rfu5vd3j233uhn4ktacpfs7rep0s44d.apps.googleusercontent.com.json

android/client_secret_287278255232-g74egvqtv3tiossgvs0dru49bht0h9un.apps.googleusercontent.com.json

android/encryption_public_key.pem

android/key.properties.new

android/output.zip

android/pepk.jar

android/upload_cert.der
