<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>sendRecording</string>
		<string>com.delta.strnadi.sendRecording</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Strnadi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>strnadi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.delta.strnadi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.delta.strnadi</string>
				<string>com.googleusercontent.apps.287278255232-5vej27saatn2qhtevu99n2sank371i91</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>GIDClientID</key>
	<string>287278255232-5vej27saatn2qhtevu99n2sank371i91.apps.googleusercontent.com</string>
	<key>GIDServerClientID</key>
	<string>287278255232-2rfu5vd3j233uhn4ktacpfs7rep0s44d.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>newapi.strnadi.cz</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>devapi.strnadi.cz</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <false/>
                <key>NSIncludesSubdomains</key>
                <true/>
            </dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Tato aplikace potřebuje přístup k fotoaparátu pro pořizování fotografií ptáků k identifikaci a zaznamenávání.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Tato aplikace potřebuje přístup pro určení lokace nahrávky.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Tato aplikace potřebuje přístup pro určení lokace nahrávky.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Tato aplikace potřebuje přístup k mikrofonu pro nahrávání ptačích zpěvů k identifikaci a analýze.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Tato aplikace potřebuje přístup do vaší knihovny fotografií, aby vám umožnila nahrát existující fotografie ptáků k identifikaci.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Tato aplikace potřebuje oprávnění k zasílání oznámení, abychom vás mohli informovat o průběhu nahrávání a exportu.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.posthog.posthog.API_KEY</key>
    <string>phc_z9EJPD4Mx7tvxn4ERnub3lSPkMg51hMgmthaiqM3QDj</string>
    <key>com.posthog.posthog.POSTHOG_HOST</key>
    <string>https://eu.i.posthog.com</string>
    <key>com.posthog.posthog.CAPTURE_APPLICATION_LIFECYCLE_EVENTS</key>
    <true/>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:strnadi.cz</string>
        <string>applinks:dev.strnadi.cz</string>
    </array>
</dict>
</plist>
